---
import {type CollectionEntry, getCollection} from "astro:content";
import type {Drop} from "esbuild";
import Dropdown from "./Dropdown.astro";

export interface ExportProps {
    currentPage: string
}

type DocsPage = CollectionEntry<'docs'>

export class SingleItem {
    slug: string;
    label: string;

    constructor(slug: string, label: string) {
        this.slug = slug;
        this.label = label;
    }
}

export class MultipleItems {
    slug?: string;
    label: string;
    items: (SingleItem | MultipleItems)[];

    constructor(label: string, items: (SingleItem | MultipleItems)[], slug?: string) {
        this.slug = slug;
        this.label = label;
        this.items = items;
    }
}

interface Func1<V, U> {
    (v: V) : U;
}

interface Func2<T, S, R> {
    (t: T, s: S): R;
}

export function count(char: string, str: string) {
    let count = 0;
    for (let i = 0; i < str.length; i++) {
        let c = str.at(i);
        if (c === char) {
            count++;
        }
    }
    return count;
}

export function evaluatePaths(base: string, depth: number, paths: DocsPage[]): (SingleItem | MultipleItems)[] {
    let entries: (SingleItem | MultipleItems)[] = [];
    let dirs = new Map<string, DocsPage>();

    paths.filter(doc => count("/", doc.id) === depth && doc.data.dir && doc.id.startsWith(base)).forEach(doc => {
        let items = evaluatePaths(doc.id, depth + 1, paths);
        dirs.set(doc.id.split("/")[depth], doc);
        if (!doc.data.mod) {
            doc.data.mod = doc.data.title;
        }
        entries.push({ label: doc.data.mod, items, slug: doc.data.ignored ? undefined : doc.id} as MultipleItems)
    })

    paths.filter(doc => count("/", doc.id) === depth && !dirs.has(doc.id.split("/")[depth]) && doc.id.startsWith(base) && !doc.data.ignored).forEach(doc => {
        entries.push({ slug: doc.id, label: doc.data.title} as SingleItem);
    })
    paths.filter(doc => count("/", doc.id) === depth + 1)

    return entries;
}

function createTree<U>(rawTree: (SingleItem | MultipleItems)[], itemTemplate: Func1<SingleItem, U>, listFactory: Func2<MultipleItems, U[], U>): U[] {
    if (!rawTree) return [];
    let list: U[] = [];
    for (let item of rawTree) {
        if (item instanceof SingleItem || !item.hasOwnProperty("items")) {
            list.push(itemTemplate(item as SingleItem));
        } else {
            let listItems = createTree((item as MultipleItems).items, itemTemplate, listFactory);
            list.push(listFactory(item as MultipleItems, listItems));
        }
    }
    return list;
}


let docs = (await getCollection('docs')).filter((doc) => doc.id.startsWith("wiki/")).map(doc => {
    doc.id = doc.id.replace("wiki/", "");
    return doc;
})

let entries: (SingleItem | MultipleItems)[] = evaluatePaths("", 0, docs);

entries.forEach(opt => console.log(opt.label))

const { currentPage } = Astro.props as ExportProps;
---

<ul class="top-level">{
    createTree(entries, item => (
        <li class="single-link"><a href={"/wiki/" + item.slug} class="ml-6" aria-current={currentPage == item.slug ? 'page' : undefined}><span> {item.label} </span></a></li>
        ), (item, contents) => (
        <li><Dropdown docs={docs} isCurrent={item.slug ? item.slug == currentPage || currentPage.startsWith(item.slug) : false} label={item.label} slug={item.slug}>
            {contents}
        </Dropdown></li>
        ))
}</ul>

<style>
    ul {
        //--sl-sidebar-item-padding-inline: 0.5rem;
        //list-style: none;
        //padding: 0;
    }

    li {
        overflow-wrap: anywhere;
        margin-left: 24px;
    }

    ul ul li {
        //margin-inline-start: var(--sl-sidebar-item-padding-inline);
        //margin-left: var(--sl-sidebar-item-padding-inline);
        //border-inline-start: 1px solid var(--sl-color-hairline-light);
        //padding-inline-start: var(--sl-sidebar-item-padding-inline);
    }

    .large {
        font-size: var(--sl-text-lg);
        font-weight: 600;
        color: var(--sl-color-white);
    }

    .top-level > li + li {
        margin-top: 0.75rem;
    }

    .caret {
        transition: transform 0.2s ease-in-out;
        flex-shrink: 0;
    }
    :global([dir='rtl']) .caret {
        transform: rotateZ(180deg);
    }
    [open] > summary .caret {
        transform: rotateZ(90deg);
    }

    a {
        display: block;
        border-radius: 0.25rem;
        text-decoration: none;
        padding: 0.3em var(--sl-sidebar-item-padding-inline);
        line-height: 1.4;
    }

    a:hover,
    a:focus {
        color: var(--sl-color-white);
    }

    [aria-current='page'],
    [aria-current='page']:hover,
    [aria-current='page']:focus {
        font-weight: 1000;
        color: var(--color-orange-950);
        background-color: var(--sl-color-text-accent);
    }

    a > *:not(:last-child),
    .group-label > *:not(:last-child) {
        margin-inline-end: 0.25em;
    }

    @media (min-width: 50rem) {
        .top-level > li + li {
            margin-top: 0.5rem;
        }
        .large {
            font-size: var(--sl-text-base);
        }
        a {
            font-size: var(--sl-text-sm);
        }
    }
</style>
